/*
 * css for codecollab app
 */

canvas
{
  border: ridge;
}

canvas:hover
{
  cursor: crosshair;
}

.center
{
  text-align: center;
}

.btn-inverse
{
  background-color: #454545;
  color: white;
}

.btn-inverse:hover
{
  background-color: #303030;
  color: white;
}

.btn-inverse:active
{
  background-color: #262626;
  color: white;
}

.inline
{
  display:inline;
}