---
layout: default
---

{% raw %}
  
  <div ng-controller='DashboardController'>
    <div ng-hide='$root.user'>
      <div class='well container login-form'>
        <form class='input-group' ng-hide='newUserForm'>
          <h3 style='margin-top:0px;'>Log in</h3>
          <input type='text' class='form-control' ng-model='email' placeholder='Email'>
          <input type='password' class='form-control' ng-model='password' placeholder='Password'>
          <button class='btn btn-success' ng-click='login()'>Log in</button>
          <button class='btn btn-primary' ng-click='newUserForm=!newUserForm'>
            New Account
            <span class='fa fa-caret-down'></span>
          </button>
        </form>
        <form class='input-group' ng-show='newUserForm'>
          <h3>Create New Account</h3>
          <input type='text' class='form-control' ng-model='firstName' placeholder='First Name'>
          <input type='text' class='form-control' ng-model='lastName' placeholder='Last Name'>
          <input type='text' class='form-control' ng-model='email' placeholder='Email'>
          <input type='password' class='form-control' ng-model='password' placeholder='Password'>
          <button class='btn btn-primary' ng-click='createUser()'>Create Account</button>
          <button class='btn btn-success' ng-click='newUserForm=!newUserForm'>
            Log in to Existing Account
            <span class='fa fa-caret-up'></span>
          </button>
        </form>
      </div>
    </div>

    <div class='center' ng-show='$root.user'>
      <h3 ng-model='userInfo'>Welcome to the Dashboard, {{userInfo.value.firstName}}</h3>
      <div class='well'>
        <div class=''>
          <h4>Create New Collaboration</h4>
          <form>
            <input class='form-control' type='text' ng-model='collabName' placeholder='Name'>
            <button class='btn btn-primary' ng-click='createCollab()'>Create new Collaboration</button>
          </form>
        </div>
      </div>
      <div class='well'>
        <h5>Current Collaborations:</h5>
        <table class='table table-striped table-hover'>
          <thead>
            <th style='text-align:center'>
              Name
            </th>
            <th style='text-align:center'>
              Date Created
            </th>
          </thead>
          <tr ng-repeat='collab in collabList'>
            <td>{{collab.name}}</td>
            <td>
              {{toDate(collab.timestamp)}}
            </td>
          </tr>
        </table>
      </div>
      <div class='well'>
        <h5>Friends Collaborations:</h5>
      </div>
    </div>
  </div>

{% endraw %}