<script type="text/javascript" src='/js/angular/app.js'></script>
<script type="text/javascript" src='/js/angular/controllers/navbar_controller.js'></script>
<script type="text/javascript" src='/js/angular/controllers/codebin_controller.js'></script>
<script type="text/javascript" src='/js/angular/controllers/whiteboard_controller.js'></script>

<script type="text/javascript" src='/js/angular/services/codebin_service.js'></script>
<script type="text/javascript" src='/js/angular/services/whiteboard_service.js'></script>
