<!-- Angular App and Controllers -->
<script type="text/javascript" src='/js/angular/app.js'></script>
<script type="text/javascript" src='/js/angular/controllers/navbar_controller.js'></script>
<script type="text/javascript" src='/js/angular/controllers/codebin_controller.js'></script>
<script type="text/javascript" src='/js/angular/controllers/whiteboard_controller.js'></script>
<script type="text/javascript" src='/js/angular/controllers/dashboard_controller.js'></script>

<!-- Angular Services -->
<script type="text/javascript" src='/js/angular/services/whiteboard_service.js'></script>
<script type="text/javascript" src='/js/angular/services/authentication_service.js'></script>
<script type="text/javascript" src='/js/angular/services/user_service.js'></script>


<!-- CodeMirror Syntax Highlighting -->
  <script type="text/javascript" src='/js/libraries/mode/coffeescript.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/css.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/go.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/haml.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/javascript.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/markdown.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/php.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/python.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/ruby.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/sql.js'></script>
  <script type="text/javascript" src='/js/libraries/mode/xml.js'></script>
  
  <!-- Code Mirror Themes -->
  <link rel='stylesheet' href='/css/code-themes/3024-day.css'></script>
  <link rel='stylesheet' href='/css/code-themes/ambiance.css'></script>
  <link rel='stylesheet' href='/css/code-themes/blackboard.css'></script>
  <link rel='stylesheet' href='/css/code-themes/cobalt.css'></script>
  <link rel='stylesheet' href='/css/code-themes/eclipse.css'></script>
  <link rel='stylesheet' href='/css/code-themes/neat.css'></script>
  <link rel='stylesheet' href='/css/code-themes/neo.css'></script>
  <link rel='stylesheet' href='/css/code-themes/paraiso-light.css'></script>
  <link rel='stylesheet' href='/css/code-themes/solarized.css'></script>
  <link rel='stylesheet' href='/css/code-themes/vibrant-ink.css'></script>