<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CodeCollab</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">

    <!-- JavaScript Libraries -->
    <script type="text/javascript" src='/js/libraries/angular.min.js'></script>
    <script type="text/javascript" src='/js/libraries/firebase.js'></script>
    <script type="text/javascript" src='/js/libraries/angularfire.min.js'></script>
    <script type="text/javascript" src='/js/libraries/firebase-simple-login.js'></script>
    <script type="text/javascript" src='/js/libraries/jquery-1.11.1.min.js'></script>
    <script type="text/javascript" src='/js/libraries/ui-bootstrap-tpls-0.11.0.min.js'></script>
    <script type="text/javascript" src='/js/libraries/kinetic-v5.1.0.min.js'></script>
    <script type="text/javascript" src='/js/libraries/jquery.mobile.custom.min.js'></script>
    <script type="text/javascript" src='/js/libraries/codemirror.js'></script>
    <script type="text/javascript" src='/js/libraries/ui-codemirror.js'></script>
    
    <!-- CodeMirror Syntax Highlighting -->
    <script type="text/javascript" src='/js/libraries/mode/coffeescript.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/css.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/go.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/haml.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/javascript.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/markdown.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/php.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/python.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/ruby.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/sql.js'></script>
    <script type="text/javascript" src='/js/libraries/mode/xml.js'></script>
    
    <!-- Code Mirror Themes -->
    <link rel='stylesheet' href='/css/code-themes/3024-day.css'></script>
    <link rel='stylesheet' href='/css/code-themes/ambiance.css'></script>
    <link rel='stylesheet' href='/css/code-themes/blackboard.css'></script>
    <link rel='stylesheet' href='/css/code-themes/cobalt.css'></script>
    <link rel='stylesheet' href='/css/code-themes/eclipse.css'></script>
    <link rel='stylesheet' href='/css/code-themes/neat.css'></script>
    <link rel='stylesheet' href='/css/code-themes/neo.css'></script>
    <link rel='stylesheet' href='/css/code-themes/paraiso-light.css'></script>
    <link rel='stylesheet' href='/css/code-themes/solarized.css'></script>
    <link rel='stylesheet' href='/css/code-themes/vibrant-ink.css'></script>

    <!-- CSS Libraries -->
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/bootstrap-theme.css'>
    <link rel='stylesheet' href='/css/font-awesome-4.1.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/css/codemirror.css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/collab.css">

</head>
